---
language: ruby
before_install: rm Gemfile.lock || true
script:
  - "rake lint"
  - "rake spec"
rvm:
  - 1.9.3
env:
  matrix:
  - PUPPET_VERSION="~> 2.7.0"
  - PUPPET_VERSION="~> 3.1.0"
  - PUPPET_VERSION="~> 3.2.0"
notifications:
  email:
    on_success: never
